---
layout: base
---

{% include header.html type="page" %}

<div class="container-md" role="main">

  <div class="row mt-5">

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Zillion</h5>
          <h6 class="card-subtitle mb-2 text-muted">Make sense of it all.</h6>
          <p class="card-text">Zillion is a free, open data warehousing and dimensional modeling tool that allows combining and analyzing data from multiple datasources through a simple API. It writes SQL so you don't have to.</p>
          <a href="https://github.com/totalhack/zillion" class="card-link">Source</a>
          <a href="https://totalhack.github.io/zillion/" class="card-link">Documentation</a>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Glide</h5>
          <h6 class="card-subtitle mb-2 text-muted">Easy ETL.</h6>
          <p class="card-text">Glide is an easy-to-use data pipelining tool inspired by Consecution and Apache Storm Topologies. Glide aims to be a simple, reusable, extensible approach to building ETL data pipelines.</p>
          <a href="https://github.com/kmatarese/glide" class="card-link">Source</a>
          <a href="https://glide-etl.readthedocs.io/en/latest/" class="card-link">Documentation</a>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="container-md">
  <div class="row">
    <div class="intro-header col-sm" style="margin:5rem 0 1.25rem;">
      <div class="page-heading">
        <span class="intro-header page-heading page-subheading">Join the team. Contact us to find out how you can help.</span>
      </div>
    </div>
  </div>
</div>
